@font-face {
  font-family: 'Bebas';
  src: url('../webfonts/BEBAS.eot');
  src: url('../webfonts/BEBAS.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/BEBAS.woff') format('woff'),
       url('../webfonts/BEBAS.ttf') format('truetype');
}
 